- content_for :title do
  Home

.row
  %article#gp-about-us
    .col-md-7.col-md-offset-3
      %section#gp-about-us_our-chapter
        %h2 Theta-Kappa Zeta, Rose-Hulman&rsquo;s chapter of Lambda Chi Alpha
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida non
          ante non varius. Maecenas non suscipit elit. Quisque id enim congue,
          condimentum justo et, porta nulla. Integer id tempus nisl, ut aliquam
          risus. Suspendisse neque ipsum, imperdiet quis nisi vitae, tempus
          pellentesque ante. Pellentesque habitant morbi tristique senectus et netus
          et malesuada fames ac turpis egestas. Aenean ultricies, lorem at cursus
          vulputate, nisl felis placerat sapien, et tincidunt mi quam ac nibh. Nulla
          at faucibus magna.

      %section#gp-about-us_our-fraternity
        %h2 Lambda Chi Alpha International Fraternity
        %p
          Lambda Chi Alpha International Fraternity is one of the largest
          men&rsquo;s general fraternities in North America. Founded in 1909 at
          Boston University, it has more than 227,000 initiated members and has
          held subsidiaries (called chapters) at more than 300 universities.
          Designed to prepare its members to be leaders for the world in which
          they will live, Lambda Chi Alpha has a mission to inspire the highest
          level of character, values, scholarship, and service in each of its
          members. It was the first fraternity to eliminate pledging and
          remains a leader in the fight against hazing, alcohol abuse, and
          other challenges facing today's college student. Lambda Chi Alpha
          serves to complement higher education by providing opportunities for
          academic achievement, leadership development, and lifelong friendships.

.row
  %article#gp-mission-and-vision
    .separator
    .col-md-7.col-md-offset-3
      %section#gp-mission-and-vision_vision
        %h2 Vision

        %p
          The vision of Lambda Chi Alpha Fraternity is to prepare and encourage
          collegiate men of good character, high ethics, and noble ideals to
          contribute positively to the world in which they live.

      %section#gp-mission-and-vision_mission
        %h2 Mission

        %p
          The mission of Lambda Chi Alpha is to offer the best fraternal
          experience, focusing on personal character development through
          leadership, scholarship, community service, and positive social
          experiences.

        %p
          The mission of Lambda Chi Alpha Fraternity staff is to provide the
          highest ethical and professional service to our undergraduate and
          alumni members in a spirit of unity and enthusiasm through the:

        %ul
          %li Development of quality programs, publications, and services
          %li Responsible use of Fraternity resources
          %li Commitment to excellence in chapter standards
          %li
            Advancement and promotion of the ideals and principles of the
            Fraternity as a complement to the educational experience

.row
  %article#gp-non-hazing-and-associate-membership
    .separator
    .col-md-7.col-md-offset-3
      %section#gp-non-hazing-and-associate-membership_non-hazing
        %h2 Non-Hazing
        %p
          In 2012, Lambda Chi Alpha Fraternity celebrated a milestone of 40
          years of associate membership. Nationally, Lambda Chi Alpha has
          abandoned the term &ldquo;pledge&rdquo;. Since 1972, uninitiated members of
          Lambda Chi Alpha have been referred to as &ldquo;associate members&rdquo;.
          Immediately upon admission to the fraternity, associate members are
          able to hold any officer position in the house (with the exception of
          the ritualist) and contribute in any voting process that pertains to
          the fraternity.

        %p
          At Lambda Chi Alpha, we pride ourselves on our commitment to a strict
          no&ndash;hazing policy which is strictly enforced. Throughout your
          membership in the house, including initiation, we solemnly pledge our
          adherence to this policy.

        %p
          Thanks to the vision of former Executive Vice President George Spasyk
          (Michigan 1949), our fraternity made the bold decision four decades
          ago to offer a different experience for new members &mdash; one of
          equality. 40 years ago, Executive Vice President George Spasyk
          introduced a revolutionary new idea to the fraternal world: associate
          membership. This change, as Spasyk concluded, was probably one of the
          most significant developments in the history of Lambda Chi Alpha.
          Through associate membership, new members were to be treated as
          equals with the same rights and rules as all brothers. Spasyk
          says, &ldquo;One of the most insidious rationalizations or excuses for
          thecontinuance of hazing by some of our chapters is, &lsquo;The
          pledges expectit!&rsquo; or even worse, &lsquo;The pledges enjoy
          it!&rsquo; Even if it was true, one would have to wonder about the
          mentality of young men who enjoy being humiliated, ridiculed, beaten,
          or forced to do ridiculous, dangerous, or obscene things.&rdquo; By
          abolishing the pledge program, generations of brothers have made a
          commitment to treat each other as equals and consequently foster an
          environment where men strengthen the bonds of true brotherhood. Forty
          years of associate membership has set Lambda Chi Alpha apart from any
          other fraternity and put young men on the fast track to becoming
          strong, honest leaders. Beginning in 1972, college men no longer
          &ldquo;pledged&rdquo; Lambda Chi, they &ldquo;joined&rdquo; us. To
          this day, we have a zero tolerance policy with regard to hazing,
          &ldquo;hazing&ndash;light,&rdquo; or any other form of demeaning behavior
          between initiated brothers and associate members. Associate members
          have the same rights and privileges, except for voting on those
          matters concerned with Initiation and the Initiation Ritual.
      %section#gp-non-hazing-and-associate-membership_associate-membership-program
        %h2 Associate Membership Program
        %p
          Lambda Chi Alpha did away with the archaic pledge system and instituted the
          Associate Member program. The Associate Membership program is an
          orientation to fraternity life within Lambda Chi Alpha.
          = link_to("Learn More", "learn_more/associate_membership")

.row
  %article#gp-history
    .separator
    .col-md-7.col-md-offset-3
      %h2 Our History
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida non
        ante non varius. Maecenas non suscipit elit. Quisque id enim congue,
        condimentum justo et, porta nulla. Integer id tempus nisl, ut aliquam
        risus. Suspendisse neque ipsum, imperdiet quis nisi vitae, tempus
        pellentesque ante. Pellentesque habitant morbi tristique senectus et netus
        et malesuada fames ac turpis egestas. Aenean ultricies, lorem at cursus
        vulputate, nisl felis placerat sapien, et tincidunt mi quam ac nibh. Nulla
        at faucibus magna.

.row
  %article#gp-philanthropy
    .col-md-7.col-md-offset-3
      %h2 Philanthropy
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida non
        ante non varius. Maecenas non suscipit elit. Quisque id enim congue,
        condimentum justo et, porta nulla. Integer id tempus nisl, ut aliquam
        risus. Suspendisse neque ipsum, imperdiet quis nisi vitae, tempus
        pellentesque ante. Pellentesque habitant morbi tristique senectus et netus
        et malesuada fames ac turpis egestas. Aenean ultricies, lorem at cursus
        vulputate, nisl felis placerat sapien, et tincidunt mi quam ac nibh. Nulla
        at faucibus magna.

.row
  .col-md-7.col-md-offset-3
    %section
      %h2 Contact Us
      %p Feel free to contact us at #{ mail_to("bruggess@rose-hulman.edu") }.
