%ul.nav.nav-pills
  %li.active(role="presentation")
    = link_to "Weekly Roster", house_duty_manager_weekly_rosters_path
  %li(role="presentation")
    = link_to "House Duties", house_duty_manager_house_duties_path
