- content_for :title, "Weekly Rosters"

= link_to new_house_duty_manager_weekly_roster_path do
  .btn.btn-default Generate A Roster

%table.table
  %thead
    %tr
      %th Created At
  %tbody
    - @weekly_rosters.each do |weekly_roster|
      %tr
        %td= link_to weekly_roster.created_at, house_duty_manager_weekly_roster_path(weekly_roster)
