%h1 Weekly Rosters

= link_to "Generate a roster for this week", new_house_duty_manager_weekly_roster_path

%table.table
  %thead
    %tr
      %th Created On
  %tbody
    - @weekly_rosters.each do |weekly_roster|
      %tr
        %td= weekly_roster.created_on
