// Green Pride Variables
$gp-dark-green: rgb(9,61,32)
$gp-medium-green: rgb(4,107,55)
$gp-light-green: rgb(81,186,104)

$gp-dark-purple: rgb(46,26,75)
$gp-medium-purple: rgb(83,43,126)
$gp-light-purple: rgb(88,79,161)

$gp-dark-gray: rgb(61,61,61)
$gp-medium-gray: rgb(183,183,183)
$gp-light-gray: rgb(229,229,228)

$gp-dark-brown: rgb(67,34,20)
$gp-medium-brown: rgb(143,76,33)
$gp-light-brown: rgb(192,81,39)

$gp-dark-gold: rgb(114,82,32)
$gp-medium-gold: rgb(213,162,41)
$gp-light-gold: rgb(246,178,59)

$gp-dark-red: rgb(107,51,51)
$gp-medium-red: rgb(186,0,0)
$gp-light-red: rgb(214,102,102)

$gp-font-family-sans-serif: "Futura", "Lato", Arial, sans-serif
$gp-font-family-serif: "Sabon", "Times New Roman", serif

// Colors
$brand-primary: darken($gp-light-green, 6.5%)
$brand-info: $gp-medium-gold

// Scaffolding
$body-bg: $gp-light-gray
$text-color: $gp-dark-green

// Typography

$font-family-sans-serif: $gp-font-family-sans-serif
$font-family-serif: $gp-font-family-serif

// Iconography

// Components

// Tables

// Buttons

// Forms

// Dropdowns

// Media queries breakpoints

// Grid system

// Container sizes

// Navbar

$navbar-default-color: $gp-medium-gold
$navbar-default-link-color: $gp-medium-gold
$navbar-default-link-hover-color: $gp-light-gold
$navbar-default-bg: $gp-medium-purple

// Navs

// Tabs

// Pills

// Pagination

// Pager

// Jumbotron

$jumbotron-heading-color: $gp-dark-green
// $jumbotron-bg: rgba(238,238,238,0.2)
$jumbotron-bg: transparentize($gp-medium-gray, 0.3)

// Form states and alerts

// Tooltips

// Popovers

// Labels

// Modals

// Alerts

// Progress bars

// List group

// Panels

// Thumbnails

// Wells

// Badges

// Breadcrumbs

// Carousel

// Close

// Code
$code-color: $gp-dark-green

// Type
$blockquote-border-color: $gp-medium-gold

$page-header-border-color: $gp-dark-gold
