- content_for :title, "About Lambda Chi Alpha"

%blockquote
  &ldquo;Committed to the ideas of fraternity, I know that the men of Lambda Chi
  Alpha will give their best efforts to the struggle to bring tranquility and
  peace through world understanding and the sharing of the fruits of freedom...
  we who know the meaning of brotherhood must practice it.&rdquo; - Harry S. Truman

%section
  %h2 Associate Membership Program
  %p
    Lambda Chi Alpha did away with the archaic pledge system and instituted the
    Associate Member program. The Associate Membership program is an orientation
    to fraternity life within Lambda Chi Alpha.
  = link_to "Click Here For More Info", learn_more_associate_membership_path

%section
  %h2 Symbols of Lambda Chi Alpha
  %p
    All college fraternities have special symbols, but few have created their
    design with such faithful adherence to the laws of the ancient art of heraldry
    as has Lambda Chi Alpha.
  = link_to "Click Here For More Info", learn_more_symbols_path

%section
  %h2 Lambda Chi Alpha International
  %p
    Lambda Chi Alpha was founded by Warren A. Cole, while a student at Boston
    University, on November 2, 1909; with the expressed objective purpose of
    bringing about the association together of college students of good moral
    character in the various collegiate institutions within the United States and
    Canada; to foster a high Christian standard of life and ideals, to promote
    honorable friendship, to cultivate intellectual excellence, to secure for
    members the greatest advantages in college life, to establish brotherly love,
    mutual aid, close personal connection between alumni, undergraduates and
    college, and to bind them together for mutual pleasure and interest in college
    as well as after life by testing each with courage, self-control, obedience,
    democracy and courtesy toward all with whom the may come in contact.
  = link_to "Click Here For More Info", "http://lambdachi.org"
