- content_for :title, "Don't Pledge Us, Join Us!"

%p
  Lambda Chi Alpha did away with the archaic pledge system and instituted the
  Associate Member program. Lambda Chi wanted to get away from the "pledge
  class." You do not join the Fraternity to just be with the other Associate
  Members. That is why we fully integrated the Associate Members with the
  Brothers. Brotherhood is learned through personal experience, one on one. The
  Associate Membership program is an orientation to fraternity life within
  Lambda Chi Alpha.

%p
  The mission of the New Member Orientation Program is to use the most
  productive brothers to generate new members who will be both better brothers
  and men through awareness of their responsibilities to the Fraternity and
  academic institution. The orientation program strives to expose the new
  members to a variety of chapter activities in order to fully develop a
  commitment to the Fraternity. To continue the education program beyond
  orientation, Fraternity Education continues to enhance the learning process by
  educating the member on the chapter, community, and world topics throughout
  one's college years.

%p
  There is a profound difference between an associate member and a pledge
  member. The associate program does not have the emotional stress of a pledge
  program. The associate program builds house unity as opposed to "class" unity
  as associate members are not kept apart from the initiated members.

%ul
  %li Associates are brought in as equals.
  %li Associates have the same rights as active members.
  %li Associates are never asked to do anything they don't want to do.
  %li Associates can wear our house letters.
  %li Associates can hold offices in the house.

%p
  Our coat of arms bears a Latin inscription -- "Vir Quisque Vir," or "Every Man,
  a Man." This motto is applied everyday within our house. Everyone in the house
  is recognized to be worthy of respect. An associate member has the right to
  confront any brother that he feels is not living up to his part as a brother.
  Another characteristic of an associate is the sharing of kitchen and other
  household duties with active members through a weekly rotation. The only
  difference between an associate and an active is the understanding and
  knowledge of our rituals. There is absolutely no hazing!

%p
  Associate With The Best!
  %strong
    Lambda Chi Alpha
