- content_for :title, "The Creed of Lambda Chi Alpha"

.row
  .col-md-8
    %section
      %p
        We believe in Lambda Chi Alpha, and its traditions, principles, and
        ideals. The crescent is our symbol, pure, high and ever growing, and the cross
        is our guide: denoting service, sacrifice, and even suffering and humiliation
        before the world, bravely endured if need be, in following that ideal.
      %p
        May we have faith in Lambda Chi Alpha and passion for its welfare. May we
        have hope for the future of Lambda Chi Alpha and strength to fight for its
        teachings. May we have pure hearts that we may approach the ideal of perfect
        brotherly love.

  .col-md-4
    = image_tag "the-lamp.png", class: "img-responsive"
