- content_for :title, "The Vision and Mission of Lambda Chi Alpha"

.row
  .col-md-8
    %section
      %h2 Vision
      %p
        The vision of Lambda Chi Alpha Fraternity is to prepare and encourage
        collegiate men of good character, high ethics, and noble ideals to contribute
        positively to the world in which they live.

    %section
      %h2 Mission
      %p
        The mission of Lambda Chi Alpha is to offer the best fraternal
        experience, focusing on personal character development through leadership,
        scholarship, community service, and positive social experiences.
      %p
        The mission of Lambda Chi Alpha Fraternity staff is to provide the
        highest ethical and professional service to our undergraduate and alumni
        members in a spirit of unity and enthusiasm through the:

        %ul
          %li Development of quality programs, publications, and services
          %li Responsible use of Fraternity resources
          %li Commitment to excellence in chapter standards
          %li Advancement and promotion of the ideals and principles of the Fraternity as a complement to the educational experience

  .col-md-4
    = image_tag "coat-of-arms-2.jpg", class: "img-responsive"
